*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.mainContainer{
    background: url('bg.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.nav{
    display: flex;
   align-items: center;
    margin: auto;
    padding: 25px;
    justify-content: space-between;
    color: white;
    background: rgba(0,0,0,0.7);
   box-shadow: rgba(100, 100, 111, 0.03) 0px 7px 29px 0px
    
}

.navCompo{
    display: flex;
   gap: 25px;
   align-items: center;
   
   
}
.navCompo h3{
    font-size: 28px;
    padding-left: 30px;
cursor: pointer;

}

.navText ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
font-weight: 500;

}
.navText ul li {
    cursor: pointer;
}
#selectItem select{
background-color: transparent;
border: 0;
color: white;
font-size: 18px;
font-weight: 500;
outline: none;
cursor: pointer;
}

#selectItem select option{
    color: black;
    
    
}
.specialSelect:hover{
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid white;
}
.navIcons{
    display: flex;
   gap: 30px;
   font-size: 32px;
   padding-right: 30px;
}
.navIcons i{
    cursor: pointer;
}
.hero{
    height: 60%;
    width: 70%;
    
    margin: 120px auto ;
}
.heroItems{
    width: 100%;
    height: 100%;
    background: url('hero.jpg')  no-repeat 50%;
    background-repeat: no-repeat;
    background-size: cover;
   
    border-radius: 20px;
}
.heroItems img{
    width: 100%;
    height: 100%;
   

}
.heroText{
    width: 100%;
    padding: 25px 25px;
    border: 1px solid red;
    color: white;
    
   
}
