
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.mainContainer{
    background-color: rgb(8, 27, 68);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 15vh 0;
}
.cardContainer{
    width: 400px;
    background:  rgb(8, 31, 80);
    height: 480px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.coverImage{
    background-image: url("bg.jpg");
    height: 200px;
    background-repeat: no-repeat;
    width: 100%;
}
.coverImage img{
width: 140px;
height: 140px;
object-fit: cover;
border-radius: 50%;
border: 3px solid white;
margin: 130px  0  0 25px;
}
.name{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}
.name span{
    text-align: right;
    padding-right: 50px;
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-top: 25px;
}
.name p{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 500;
}
.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#msg{
    width: 45%;
    padding: 8px 10px;
    background: #0877a5;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    transition: 0.3s ease-in-out;
}
#msg:hover{
    background: white;
    color: #0877a5;
}
#flg{
    width: 45%;
    padding: 8px 10px;
    color: #0877a5;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
#flg:hover{
    background: #0877a5;
    color: white;
}

.icon{
    display: flex;
    margin-top: 20px;
   font-size: 24px;
  
   gap: 32px;
   justify-content: center;
   color: #0877a5;

}
.icon i{
    cursor: pointer;
}